html,
body,
#root,
#root>.row {
  background: #FCFDFE;
  height: 100%;
  margin: 0 auto;
  font-size: 14px;
  font-family: Archivo, sans-serif !important;
}

/* Change the white to any color */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px white inset !important;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.fullHeight {
  height: 100%;
}

a,
a:hover,
a:focus,
a:active {
  text-decoration: none;
  color: inherit !important;
}

.linkColour {
  color: #008FD4 !important;
}

.greyLinkText {
  color: #B6B6BF;
  cursor: pointer;
}

.cyberCareButton {
  background: #EBECF1;
  border: none;
  border-radius: 4px;
  padding: 8px 16px;
  font-weight: 500;
}

.pushRight {
  float: right;
}

hr {
  height: 1px;
  color: #EBECF1;
  width: 100%;
}

.searchInput {
  display: flex;
  flex-flow: row;
  align-content: flex-end;
}

.displayChildrenInline,
.displayChildrenInline * {
  display: inline;
}

.modal-header {
  border-bottom: 1px solid white !important;
  padding: 1.25em 1em;
}

.checkboxContainer hr {
  padding: .5em 0;
}