/* Dashboard.css */
.dashboard-container {
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: #f4f4f4;
  }
  
  .dashboard-header {
    color: #333;
    margin-bottom: 30px;
  }
  
  .dashboard-links {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column; /* Ensures vertical layout */
    align-items: center;
    width: 100%;
  }

  .dashboard-links li{
    margin-top: 3rem;
  }
  
  .dashboard-link {
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    border-radius: 8px;
    margin: 10px 0; /* Increase space between buttons */
    text-decoration: none;
    width: 80%; /* Adjust for better spacing */
    text-align: center;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    transition: background-color 0.3s, transform 0.3s;
  }
  
  .dashboard-link:hover, .dashboard-link:focus {
    background-color: #0056b3;
    transform: translateY(-2px);
  }
  
  /* Adjustments for larger screens - ensures vertical layout is only for mobile */
  @media (min-width: 768px) {
    .dashboard-links {
      flex-direction: row; /* Horizontal layout on larger screens */
      flex-wrap: wrap;
      justify-content: center;
    }
  
    .dashboard-link {
      width: calc(50% - 40px); /* Adjust width for spacing */
      margin: 10px; /* Adjust margin for spacing */
    }
  }

  .chart-container {
    width: 100%;
    max-width: 600px;
    margin: 20px auto;
  }
  